:root {
    --color-principal: #3498DB;
    --color-principal-opaco: #2F87C2;
    --color-secundario: #DBB62A;
    --color-negro: #262626;
    --color-texto: #CCCCCC;
    --fuente-principal: 'Merriweather', serif;
    --fuente-secundaria: 'Acme', sans-serif;
    --sombra: 0px 10px 15px -3px rgba(0,0,0,0.1);
    --text-sombra: 1px 1px 5px rgba(0, 0, 0, 0.18);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.contenedor {
    position: relative;
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: 43.75% 56.25%;
    gap: 0;
    margin: 0 auto;
}
.columna {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#contenedor-personajes {
    display: flex;
    flex-direction: column;
}
/* DIAPOSITIVA */
.diapositiva {
    position: relative;
    width: 100%;
    height: 100vh; /* Usa el 100% del alto de la pantalla */
    font-size: 0;
}

.diapositiva__img {
    position: relative;
    width: 100%;
    height: 100%;
}

.diapositiva__img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-size: 0;
}
#imgLocacion {
    background-color: #262626;
    transition: opacity 0.5s ease-in-out;
}

/* PERSONAJE */
.personaje {
    position: relative;
    width: 100%;
    height: 25%;
    flex: 1;
}
.personaje::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.personaje::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), 30%, transparent);
    z-index: 1;
}
.img {
    width: 100%;
    height: 100%; /* Esto mantendrá la relación de aspecto del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que desborde el contenedor */
    position: relative; /* Para que los elementos absolutos se posicionen dentro de este contenedor */
}

.img img {
    width: 100%; /* Opcional: escala la imagen al 100% del ancho del contenedor */
    height: 100%; /* Esto mantendrá la relación de aspecto de la imagen y llenará el contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin deformarla */
    object-position: top; /* Opcional: posiciona la imagen en el centro del contenedor */
    position: absolute; /* Posiciona la imagen dentro del contenedor */
    top: 0; /* Opcional: alinea la imagen en la parte superior del contenedor */
    left: 0; /* Opcional: alinea la imagen en la parte izquierda del contenedor */
}

/* HUD PERSONAJE */
.personaje__hud {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.contenedor__hud {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
}
.nivel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 50px;
    height: 50px;
    display: flex; /* Activa el modo flex */
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    padding: 10px;
    color: var(--color-texto);
    background-color: var(--color-principal-opaco);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--color-principal);
    border-radius: 100%;
    font-family: var(--fuente-principal);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}
.vida__contenedor {
    width: 100%;
    height: 35px;
    background-color: var(--color-negro);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    border: 3px solid var(--color-principal);
    border-radius: 50px;
    margin: 0;
    padding: 0;
}
.vida {
    display: flex; /* Activa el modo flex */
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    width: 100%;
    height: 100%;
    color: var(--color-texto);
    background-color: var(--color-principal);
    border-radius: 50px;
    font-family: var(--fuente-principal);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.nombre__personaje {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}
.nombre__personaje h2 {
    color: var(--color-texto);
    font-family: var(--fuente-secundaria);
    font-size: 3rem;
    line-height: 1;
    text-shadow: var(--text-sombra);
}
.nombre__personaje h2::after {
    content: ' | ';
    font-size: 2rem;
}
.nombre__personaje h3 {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* HABILIDADES */
.habilidades {
    position: absolute;
    top: 15px;
    right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    width: calc(100px + 10px); /* Ancho del contenedor */
    grid-gap: 10px; /* Espacio entre las columnas */
    z-index: 2;
}
#fuerza, #destreza, #constitucion, #inteligencia, #carisma {
    display: flex;
    gap: 10px;
}
.icon {
    color: var(--color-principal);
    font-size: 2.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: left;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.valor p {
    color: var(--color-texto);
    font-family: var(--fuente-secundaria);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    align-self: center;
}

/* Locaciones */
.flechas__contenedor {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon.izquierda, .icon.derecha {
    color: rgba(255, 255, 255, .7);
    font-size: 4rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
    transition: ease-in-out .2s;
}
.icon.izquierda:hover, .icon.derecha:hover {
    color: var(--color-secundario);
    transform: scale(1.5);
}

/* Indicadores */
#indicadores {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
}

.indicador {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px; /* Espacio entre los indicadores */
    cursor: pointer;
    transition: ease-in-out .3s;
}

.indicador.activo {
    position: relative;
    background-color: var(--color-secundario);
    transform: scale(2);
    box-shadow: var(--sombra);
}

/* EQUIPOS */
.equipos {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
}
.equipos__columna {
    position: relative;
    width: 100%;
}
#equipo-1, #equipo-2 {
    position: relative;
    bottom: -20px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid var(--color-principal);
    transition: ease-in-out .2s;
    cursor: pointer;
}
#equipo-1 {
    background-image: url('https://arcaneeye.com/wp-content/uploads/2019/09/lost-mines-770x360.jpg');
    border-radius: 20px 0 0 0;
}
#equipo-2 {
    background-image: url('https://i.redd.it/6ni8qx4b1bb91.jpg');
    border-radius: 0 20px 0 0;
}
#equipo-1:hover, #equipo-2:hover {
    bottom: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 50px rgba(52, 152, 219, 1);
    z-index: 2;
}
#equipo-1:active, #equipo-2:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 20px rgba(52, 152, 219, 1);
}